<!doctype html>
<html lang="en">
    <head>
        <title>Meadowlark Travel</title>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="Логотип сайта">
        </header>
        {{{body}}}
        <footer>&copy; 2019 Meadowlark Travel</footer>
    </body>
</html>